name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+'

permissions:
  id-token: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: pnpm/action-setup@v4.1.0
      - uses: actions/setup-node@v4.2.0
        with:
          node-version: 22.x
          cache: pnpm

      - run: pnpm install
      - run: pnpm lint
      - run: pnpm dev:prepare
      - run: pnpm test:types
      - run: pnpm test
      - run: pnpm prepack
      - run: |
          if [[ "${GITHUB_REF##*/}" == *"-rc."* ]]; then
            pnpm publish --no-git-checks --tag rc
          else
            pnpm publish --no-git-checks
          fi
      - name: Create release
        run: npx changelogen gh release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
